{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="wrapper">
        <div id="content">
            <div class='posts' id='posts'>
                {% for post in posts %}
                    {% if post.type == 'img' %}
                        <div class='post-container'>
                            <div class='post'>
                                <div class='featured-media'>
                                    <img src="{{ image('bundles/app/images/index/' ~ post.content).zoomCrop('300', '290') }}"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if post.type == 'c_img' %}
                        <div class='post-container central'>
                            <div class='post'>
                                <div class='featured-media'>
                                    <img src="{{ image('bundles/app/images/index/' ~ post.content).zoomCrop('600', '590') }}"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if post.type == 'text' %}
                        <div class='post-container'>
                            <div class='post'>
                                <div class='post-excerpt'>
                                    <p>{{ post.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}

