ul.contacts {
  font-size: larger;
  list-style: none; }
  ul.contacts li {
    height: 100px; }
    ul.contacts li div {
      display: inline-block;
      vertical-align: middle; }
    ul.contacts li.mail::before {
      content: "";
      background: url("../images/contacts/mail.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    ul.contacts li.mobile::before {
      content: "";
      background: url("../images/contacts/mobile.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    ul.contacts li.vk::before {
      content: "";
      background: url("../images/contacts/vk.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    ul.contacts li.f::before {
      content: "";
      background: url("../images/contacts/f.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
