{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="wrapper">
        <div class="content thin">
            <div class='post single post-7 page type-page status-publish hentry'>
                <div class='post-inner'>
                    <!-- /post-header section -->
                    <div class='post-content'>
                        <img class='alignleft' height='600' width='400' src="{{ image('bundles/app/images/about/20170309_155843.jpg').resize('400') }}"/>
                        Здравствуйте, меня зовут Ирина. Я профессиональный художник, несколько лет назад я погрузилась в мир фотографии.  Главное мое стремление чтобы мои фотографии радовали вас долгие годы, и каждый раз вы с удовольствием пересматривали свой семейный альбом.
                    </div>
                    <div class='post-content'>
                        <img class='alignright about' height='600' width='400' src="{{ image('bundles/app/images/about/6woQr1muViU.jpg').resize('400') }}"/>
                        Больше всего я любю фотографировать семейные прадники и детей. Самое главное для меня запечатлеть на фото камеру радость малышей и их непринужденные улыбки.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}

