ul.contacts {
  font-size: larger;
  height: 100%; }
  ul.contacts li {
    list-style: none;
    height: 100px; }
    ul.contacts li .contact-label {
      display: none; }
    ul.contacts li div {
      display: inline-block;
      vertical-align: middle; }
    ul.contacts li.mail::before {
      content: "";
      background: url("../images/contacts/mail.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    ul.contacts li.mobile::before {
      content: "";
      background: url("../images/contacts/mobile.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    ul.contacts li.vk::before {
      content: "";
      background: url("../images/contacts/vk.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    ul.contacts li.f::before {
      content: "";
      background: url("../images/contacts/f.png") no-repeat 50%;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      height: 100%; }

@media (max-width: 600px) {
  ul.contacts {
    font-size: 1em;
    height: 100%; }
    ul.contacts li div {
      display: inline;
      vertical-align: baseline;
      margin-top: 10px; }
    ul.contacts li .contact-label {
      display: inline-block;
      margin-bottom: -30px; }
    ul.contacts li::before {
      display: none !important; } }
